<h1>Create your first custom component</h1>

<p>
  The point of this exercise is for you to create and use a simple component. Please follow these steps:
</p>

<ol>
  <li>Create a new file named <code>example.component.ts</code>.</li>
  <li>Declare the <code>ExampleComponent</code> class and export it.</li>
  <li>Add the <code>@Component</code> decorator to the class.</li>
  <li>Assign the string <code>'my-example-component'</code> to the <code>selector</code> property inside the <code>@Component</code> decorator.</li>
  <li>Assign the string <code>'Example component works!'</code> to the <code>template</code> template inside the <code>@Component</code> decorator.</li>
  <li>Add your new component class name to the <code>declarations</code> array.</li>
  <li>Include your component below (line 17 of <code>app.component.html</code>).</li>
  <li>Bonus: Move your template to a separate file named <code>example.component.html</code>.</li>
</ol>

<!-- Add your component below this line -->